nltk==3.9.1
streamlit
openai
python-dotenv==1.0.1
azure-identity==1.19.0
decorator
nest-asyncio
packaging
Pygments==2.18.0
matplotlib
plotly ==5.18.0
wordcloud==1.9.4
pandas
python-docx==1.1.2
python-magic-bin>=0.4.14; platform_system == "Windows"
PyYAML>=6.0.1
PyPDF2==3.0.1
textstat==0.7.4
rpds-py
reportlab
pyperclip
bleach>=5.0.0

spacy>=3.0.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0.tar.gz
tiktoken>=0.5.0